.channelDesc{
    display: flex;
    align-items: center;
}
.img-sonny{
    width: 300px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
    

}
.text_title{
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    

}
.text_title:hover{
    background-color: lightgray;
}
.text_p{
    font-size: 18px;
    color: gray;
    margin-left: 12px;
    cursor: pointer;
}