.VideoSearched{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px;
}
.filterIcon{
    
    
    display: flex;
    align-items: center;
    color: #606060;
}
h3{
    margin-left:10px ;
}
hr{
    height: 0.7px ;
    border:0;
    background-color: lightgray;
    margin-left: 2px;
    margin-top: 4px;
}
/* img{
    border:5px solid black;
    border-radius: 50%;
    background-color: yellow;
} */